
{% load i18n static %}
<div class="w-full">
	<div class="absolute top-4 right-4 text-xl text-gray-400 pl-3 pb-3 cursor-pointer"
	onclick="hideNewsletterPopup();">
		<i class="fal fa-times hoverable-gray-black pl-4 pb-4"></i>
	</div>
	<div class="flex lg:items-center sm:max-w-md ">
		<div id="newsletterPopUpDone" class="flex flex-col w-full hidden">
			<h2 class="text-center font-bold mb-4">
				{{ newsletter_campaign.title_done }}
			</h2>
			<div class="mb-4">
				{{ newsletter_campaign.text_done }}
			</div>
			<button type="button"
					class="button-secondary-outline block w-full rounded p-3 text-lg text-center" 
					onclick="hideNewsletterPopup();">
				{% trans 'Close' %}
			</button>
		</div>
		<div id="newsletterPopUpForm" class="flex flex-col w-full">
			<h2 class="text-center font-bold mb-4">
				{{ newsletter_campaign.title }}
			</h2>
			<div>
				<form action="{% url 'winwheel:spin' %}" onsubmit='event.preventDefault(); subscribeToNewsletterPopUp(this);'>
					{% if newsletter_campaign.image %}
						<img src="{{ newsletter_campaign.image.url }}" alt="{{ newsletter_campaign.image.file.name }}" 
							class="w-full mb-4"/>
					{% endif %}
					<div class="text-left mb-4">
						{{ newsletter_campaign.text }}
					</div>
					<div id="newsletterPopUpError" 
							class="p-3 mb-2 border border-red-400 bg-red-200 rounded text-left text-sm text-red-800 hidden">
					</div>
					<div class="form-label-group mb-4">
						<input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}"
							placeholder="{{ form.email.field.widget.attrs.placeholder }}" required="true" />
						<label for="{{ form.email.id_for_label }}">
							{{ form.email.label }}
						</label>
					</div>
					{% csrf_token %}
					<button class="button-primary-outline block w-full rounded p-3 text-lg text-center">
						{% trans 'Subscribe' %}
					</button>
				</form>
			</div>
		</div>
	</div>
</div>