{% load i18n static cart_template_tags shop_template_tags %}
{% get_currency as currency %}
{% with total_items=cart|length %}

{% if total_items != 0 %}
	<div class="flex flex-col h-screen py-4">
		<div class="flex flex-grow-0 justify-between px-2 sm:px-4">
			<h3 class="mb-0">{% trans 'Your cart' %}</h1>
			<div class="flex self-center">
				<span class="cursor-pointer" onclick="hideCart();">
					<i class="fal fa-times hoverable-gray-black text-2xl pl-4 pb-4"></i>
				</span>
			</div>
		</div>
		<div class="flex-grow overflow-y-auto px-2 sm:px-4">
			{% for item in cart %}
				{% get_product_color item.product_color_id as product_color %}
				{% get_product_size item.product_size_id as product_size %}
				{% get_product_color_quantity item.product_color_quantity_id as product_color_quantity %}
				<div class="flex items-center py-4 border-t border-gray-200">
					<a href="{{ product_color.product.link }}" aria-label="{% trans 'Product' %}" class="cursor-pointer mr-4">
						<div class="flex items-center justify-center w-20">
							<div class="aspect-1-1 bg-center bg-cover rounded border border-gray-200"
								style="background-image: url('{{ product_color.image.file.url }}');">
							</div>
						</div>
					</a>
					<form class="w-full"
						onsubmit="event.preventDefault(); updateOverlayQuantity(this, '{{ product_color_quantity.id }}');">
						<div class="flex justify-between w-full relative">
							<div class="flex flex-col">
								<h4 class="text-lg cursor-text mb-0" style="line-height: 1.2;">{{ product_color.product.title }}</h4>
								<p class="text-xs cursor-text mb-0">{{ product_color_quantity.get_display_variation }}</p>
								<p class="text-xs cursor-text mb-0">{{ product_color.product.get_display_price }}</p>
								<div>
									<div class="flex">
										<input class="block w-16 h-8 p-1 text-sm rounded-l border border-gray-400 
												focus:border-black" aria-label="{% trans 'Quantity' %}"
												name="quantity" type="number" min="1" value="{{ item.quantity }}"/>
										<button name="updateQuantity" class="block rounded-r h-8 w-8 button-primary"
												aria-label="{% trans 'Update quantity' %}">
											<i class="fal fa-sync"></i>
										</button>
									</div>
								</div>
								<div class="absolute bottom-0 right-0 text-sm cursor-text">
									{% get_display_currency_price item.total_price %}
								</div>
							</div>
							<div class="flex items-center hoverable-gray-black pl-4"
								onclick="updateOverlayQuantity(this.parentElement.parentElement, '{{ product_color_quantity.id }}', 0);">
								<i class="fal fa-times padding-4"></i>
							</div>
						</div>
					</form>
				</div>
			{% endfor %}
		</div>
		<div class="flex flex-grow-0 flex-col px-2 sm:px-4">
			<div class="py-4 border-t border-b border-gray-200">
				<div class="w-full">
					<form action="POST" class="couponForm"
						onsubmit="event.preventDefault(); applyCoupon(this);">
						<div class="flex flex-col">
							<div class="coupon-error p-3 mb-4 border border-red-400 bg-red-200 rounded text-red-800 hidden">
								{% trans 'The code you entered seems to be invalid' %}
							</div>
							<div class="flex">
								{% csrf_token %}
								<input class="block w-full h-12 p-1 rounded-l border border-gray-300 focus:border-black" 
									name="coupon" placeholder="{% trans 'Coupon' %}" required/>
								<button class="button-primary rounded-r h-12 w-20">
									{% trans 'Apply' %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="py-4 flex border-b border-gray-200 justify-between">
				<div>
					{% trans 'Subtotal' %}
				</div>
				<div>
					{{ cart.get_display_pre_coupon_price }}
				</div>
			</div>
			{% if cart.coupon %}
				<div class="mt-4 pb-4 flex border-b border-gray-200 justify-between coupon-class">
					<div class="flex align-center items-center">
						{% if cart.coupon.coupon_type == 'Credit' %}
							{{ cart.coupon.code }} ({{ cart.coupon.display_credit_value }})
						{% else %}
							{{ cart.coupon.code }} ({{ cart.coupon.display_percentage }})
						{% endif %}
						<div onclick="removeCoupon();" class="ml-2 cursor-pointer flex align-center items-center">
							<i class="fal fa-times hoverable-gray-black transition-all text-lg"></i>
						</div>
					</div>
					<div>
						- {{ cart.get_display_discount }}
					</div>
				</div>
			{% endif %}
			<div class="mt-4 flex justify-between pb-4 border-b border-gray-200">
				<h5 class="text-xl">{% trans 'Total' %}</h5>
				<h5 class="text-xl">{{ cart.get_display_price_pre_shipping }}</h5>
			</div>
			<div class="flex flex-col sm:flex-row mt-4">
				<a href="{% url 'cart:details' %}"
					class="button-secondary-outline	w-full rounded p-3 text-lg text-center sm:mr-1 mb-4 sm:mb-0">
					{% trans 'Cart' %}
				</a>
				<a href="{% url 'order:information' %}"
					class="button-primary-outline w-full rounded p-3 text-lg text-center sm:ml-1">
					{% trans 'Checkout' %}
				</a>
			</div>
		</div>
	</div>
{% else %}
	<div class="flex flex-col h-screen py-4 px-2 sm:px-4 ">
		<div class="flex flex-grow-0 justify-between px-2 sm:px-4">
			<h3 class="mb-0">{% trans 'Your cart' %}</h1>
			<div class="flex self-center">
				<span class="cursor-pointer" onclick="hideCart();">
					<i class="fal fa-times hoverable-gray-black text-2xl pl-4 pb-4"></i>
				</span>
			</div>
		</div>
		<div class="flex flex-col flex-grow justify-center text-center w-full">
			<i class="fal fa-shopping-cart text-8xl mb-4"></i>
			<h3 class="mb-4">{% trans 'Your cart is empty' %}</h3>
			<p class="mb-8">{% trans 'It seems like you have not added any items to your cart' %}</p>
			<div>
				<a class="block button-primary-outline w-full transition-all rounded p-3 text-lg text-center sm:mr-1 mb-4 
						sm:mb-0" href="{{ products_url }}">
					{% trans 'View Shop' %}
				</a>
			</div>
		</div>
	</div>
{% endif %}

{% endwith %}