{% load i18n static home_template_tags %}
{% get_domain as domain %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="" style="max-width: 500px;">
			<h1>{% trans 'Reset your password' %}</h1>
			<div style="margin-bottom: 8px;">
				{% trans 'Would you like to reset your password? If that is not the case someone else has requested a password reset and you can ignore this email.' %}
			</div>
			<div style="
          display: flex;
          justify-content: center;
          align-items: center;">
				<a href="{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}" style="
						font-size: 14px;
						text-align: center;
						border-radius: 4px;
						padding: 8px 12px 8px 12px;
						background-color: #000000;
						color: #ffffff;
            margin-right: 8px;
            text-decoration: none;">
					{% trans 'Reset password' %}
				</a>
			</div>
		</div>
	</body>
</html>