{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

<div class="flex flex-col items-center text-center p-2 sm:p-4">
	<h1 class="my-16">
		{% trans 'Reset password' %}
	</h1>
	<div class="w-full max-w-lg my-auto mb-16">
    {% if form.errors %}
      <div class="p-3 mb-4 border border-red-400 bg-red-200 rounded text-red-800 hidden">
        {% for field in form %}
          {% for error in field.errors %}
            <p>{{ error|escape }}</p>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <p>{{ error|escape }}</p>
        {% endfor %}
      </div>
    {% endif %}
		<form action="." method="POST">
			{% csrf_token %}
			<div class="w-full mb-8">
				<div class="form-label-group mb-4">
					<input name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" type="password"
						placeholder="{{ form.new_password1.field.widget.attrs.placeholder }}"/>
					<label class="cursor-text" for="{{ form.new_password1.id_for_label }}">
						{{ form.new_password1.label }}
					</label>
					<div class="text-left text-sm text-red-400 mt-1 text-left">
						{% for error in form.new_password1.errors %}
							{{ error|escape }}<br/>
						{% endfor %}
					</div>
				</div>
				<div class="form-label-group">
					<input name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" type="password"
						placeholder="{{ form.new_password2.field.widget.attrs.placeholder }}"/>
					<label class="cursor-text" for="{{ form.new_password2.id_for_label }}">
						{{ form.new_password2.label }}
					</label>
					<div class="text-left text-sm text-red-400 mt-1 text-left">
						{% for error in form.new_password2.errors %}
							{{ error|escape }}<br/>
						{% endfor %}
					</div>
				</div>
			</div>
			<button class="button-primary-outline block w-full rounded p-3 text-lg text-center">
				{% trans 'Save' %}
			</button>
		</form>
	</div>
</div>
{% endblock %}

