{% extends 'base.html' %}
{% load shop_template_tags cart_template_tags i18n %}
{% block content %}
	<div class="md:hidden px-2 sm:px-4 w-full py-4 bg-primary-400 text-primary-bg collapsible cursor-pointer">
		<div class="flex justify-between self-center items-center max-w-screen-2xl m-auto">
			<div class="text-sm">
				<i class="fal fa-shopping-cart mr-2"></i>{% trans 'Show order' %}
			</div>
			<div>
				{% for item in cart %}
				{% endfor %}
				{{ cart.get_display_total_price }}
			</div>
		</div>
	</div>
	<div class="md:hidden w-full max-h-0 overflow-hidden transition-all duration-300 ease-in
			border-b border-gray-200 px-2 sm:px-4">
		<div id="cartCheckoutTop">
		</div>
	</div>
	<div class="max-w-screen-2xl m-auto flex">
		<div class="w-full md:w-7/12 p-2 md:p-4 lg:p-8">
			<div class="text-xs mt-4 mb-8">
				<a class="link-primary" href="{% url 'cart:details' %}">
					{% trans 'Cart' %}
				</a>
				<i class="text-xs fal fa-chevron-right"></i>
				<strong>{% trans 'Information' %}</strong>
				<i class="xs fal fa-chevron-right"></i>
				{% trans 'Shipping' %}
				<i class="xs fal fa-chevron-right"></i>
				{% trans 'Payment' %}
			</div>
			{% if form.non_field_errors %}
				<div class="p-3 mb-4 border border-red-400 bg-red-200 rounded text-left text-sm text-red-800">
					{% for error in form.non_field_errors %}
						{{ error|escape }}<br/>
					{% endfor %}
				</div>
			{% endif %}
			<div>
				<form action="{% url 'order:information' %}" method="POST">
					{% csrf_token %}
					<div class="flex justify-between text-lg mb-4 flex-col sm:flex-row">
						<div>{% trans 'Contact information' %}</div>
						<div class="flex flex-row text-sm items-end">
							{% if request.user.is_authenticated %}
								{% trans 'Logged in as' %} {{ request.user.email }}
							{% else %}
								{% trans 'Already have account?' %} 
								<div class="link-primary ml-2" onclick="showLoginOverlay()">
									{% trans 'Log in' %}
								</div>
							{% endif %}
						</div>
					</div>
					<div class="mb-8">
						<div class="form-label-group">
							<input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}"
								placeholder="{{ form.email.field.widget.attrs.placeholder }}" required=true
								{% if order.order.email %}value="{{ order.order.email }}"{% endif %}
								{% if form.email.errors %}class="error"{% endif %}/>
							<label for="{{ form.email.id_for_label }}">
								{{ form.email.label }}
							</label>
						</div>
						<div class="text-sm text-red-400 mt-1 text-left">
							{% for error in form.email.errors %}
								{{ error|escape }}<br/>
							{% endfor %}
						</div>
						<div class="flex self-center items-center">
							<input id="{{ form.newsletter.id_for_label }}" 
								name="{{ form.newsletter.html_name }}" 
								type="{{ form.newsletter.field.widget.input_type }}"
								class="h-4 w-4"
								checked>
							<label for="{{ form.newsletter.id_for_label }}" class="ml-1 text-xs">
								{{ form.newsletter.label }}
							</label>
						</div>
					</div>
					<div class="mb-4">
						<div class="text-lg mb-2">
							{% trans 'Shipping address' %}
						</div>
						<div class="grid gap-2 grid-cols-6">
							<div class="col-span-6 sm:col-span-3">
								<div class="form-label-group">
									<input name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}"
										placeholder="{{ form.first_name.field.widget.attrs.placeholder }} =" required=true
										{% if order.order.first_name %}value="{{ order.order.first_name }}"{% endif %}
										{% if form.first_name.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.first_name.id_for_label }}">
										{{ form.first_name.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.first_name.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6 sm:col-span-3">
								<div class="form-label-group">
									<input name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}"
										placeholder="{{ form.last_name.field.widget.attrs.placeholder }}" required=true
										{% if order.order.last_name %}value="{{ order.order.last_name }}"{% endif %}
										{% if form.last_name.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.last_name.id_for_label }}">
										{{ form.last_name.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.last_name.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6">
								<div class="form-label-group">
									<input name="{{ form.company.html_name }}" id="{{ form.company.id_for_label }}"
										placeholder="{{ form.company.field.widget.attrs.placeholder }}"
										{% if order.order.company %}value="{{ order.order.company }}"{% endif %}
										{% if form.company.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.company.id_for_label }}">
										{{ form.company.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.company.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6">
								<div class="form-label-group">
									<input name="{{ form.address.html_name }}" id="{{ form.address.id_for_label }}"
										placeholder="{{ form.address.field.widget.attrs.placeholder }}" required=true
										{% if order.order.address %}value="{{ order.order.address }}"{% endif %}
										{% if form.address.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.address.id_for_label }}">
										{{ form.address.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.address.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6">
								<div class="form-label-group">
									<input name="{{ form.address2.html_name }}" id="{{ form.address2.id_for_label }}"
										placeholder="{{ form.address2.field.widget.attrs.placeholder }}"
										{% if order.order.company %}value="{{ order.order.address2 }}"{% endif %}
										{% if form.address2.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.address2.id_for_label }}">
										{{ form.address2.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.address2.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class=" col-span-6 sm:col-span-3">
								<div class="form-label-group">
									<input name="{{ form.postal_code.html_name }}" id="{{ form.postal_code.id_for_label }}"
										placeholder="{{ form.postal_code.field.widget.attrs.placeholder }}" required=true
										{% if order.order.postal_code %}value="{{ order.order.postal_code }}"{% endif %}
										{% if form.postal_code.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.postal_code.id_for_label }}">
										{{ form.postal_code.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.postal_code.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class=" col-span-6 sm:col-span-3">
								<div class="form-label-group">
									<input name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}"
										placeholder="{{ form.city.field.widget.attrs.placeholder }}" required=true
										{% if order.order.city %}value="{{ order.order.city }}"{% endif %}
										{% if form.city.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.city.id_for_label }}">
										{{ form.city.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.city.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div id="countryContainer" class="col-span-6 sm:col-span-3">
								<div class="form-label-group">
									<select name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}"
										placeholder="{{ form.country.field.widget.attrs.placeholder }}" required
										{% if form.country.errors %}class="error"{% endif %}>
										{% for x, y in form.country.field.choices %}
											<option value="{{ x }}">{{ y }}</option>
										{% endfor %}
									</select>
									<label class="cursor-default" for="{{ form.country.id_for_label }}">
										{{ form.country.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.country.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div id="stateContainer" class="hidden col-span-6 sm:col-span-3">
								<div class="form-label-group ">
									<select name="{{ form.state.html_name }}" id="{{ form.state.id_for_label }}"
										placeholder="{{ form.state.field.widget.attrs.placeholder }}" required
										{% if form.state.errors %}class="error"{% endif %}>
									</select>
									<label class="cursor-default" for="{{ form.state.id_for_label }}">
										{{ form.state.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.state.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6">
								<div class="form-label-group ">
									<input name="{{ form.telephone.html_name }}" id="{{ form.telephone.id_for_label }}"
										placeholder="{{ form.telephone.field.widget.attrs.placeholder }}" required=true
										{% if order.order.telephone %}value="{{ order.order.telephone }}"{% endif %}
										{% if form.telephone.errors %}class="error"{% endif %}/>
									<label class="cursor-text" for="{{ form.telephone.id_for_label }}">
										{{ form.telephone.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.telephone.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
							<div class="col-span-6">
								<div class="form-label-group ">
									<textarea name="{{ form.comment.html_name }}" id="{{ form.comment.id_for_label }}"
										placeholder="{{ form.comment.field.widget.attrs.placeholder }}"
										{% if order.order.comment %}value="{{ order.order.comment }}"{% endif %}
										{% if form.comment.errors %}class="error"{% endif %}></textarea>
									<label class="cursor-text" for="{{ form.comment.id_for_label }}">
										{{ form.comment.label }}
									</label>
								</div>
								<div class="text-sm text-red-400 mt-1 text-left">
									{% for error in form.comment.errors %}
										{{ error|escape }}<br/>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="flex flex-col-reverse md:flex-row text-sm justify-between items-center">
						<a class="link-primary w-full md:w-auto py-4 mt-4 md:mt-0" href="{% url 'cart:details' %}">
							<div class="text-center md:text-left">
								<i class="mr1 text-xs fal fa-chevron-left"></i> 
								{% trans 'Back to cart' %}
							</div>
						</a>
						<button
							class="button-primary rounded py-4 px-6 text-center w-full md:w-auto">
							{% trans 'Shipping method' %}
						</button>
					</div>
				</form>
			</div>
		</div>
		<div id="cartCheckoutRight" class="hidden md:flex w-5/12 md:p-4 lg:p-8">
		</div>
	</div>
	<script>
		const stateContainer = document.getElementById('stateContainer');
		const stateSelect = document.getElementById('id_state');
		const countryContainer = document.getElementById('countryContainer');
		const countrySelect = document.getElementById('id_country');
		const states = JSON.parse("{{ states }}".replaceAll("&quot;", '"'));
		{% if order.order.country %}
			countrySelect.value='{{ order.order.country }}';
		{% endif %}
		changeCountry(countrySelect.value);
		countrySelect.addEventListener('change', function() {
			changeCountry(this.value);
		});
		function changeCountry(value) {
			const countryCode = value;
			if (states[countryCode]) {
				removeOptions(stateSelect);
				states[countryCode].forEach((state) => {
					const option = document.createElement('option');
					option.text = state.name;
					option.value = state.code;
					stateSelect.appendChild(option);
				});
				stateContainer.selectedIndex = 0;
				showState();
			} else {
				hideState();
			}
		}
		function showState() {
			if (stateContainer.classList.contains('hidden')) {
				stateContainer.classList.remove('hidden');
				stateSelect.required = true;
			}
			countryContainer.classList.add('sm:col-span-3');
		}
		function hideState() {
			if (!stateContainer.classList.contains('hidden')) {
				stateContainer.classList.add('hidden');
			}
			countryContainer.classList.remove('sm:col-span-3');
			stateSelect.required = false;
		}
		function removeOptions(element) {
			while (element.firstChild) {element.firstChild.remove()}
		}
		{% if order.order.state %}
			stateSelect.value = '{{ order.order.state }}';
		{% endif %}
	</script>
{% endblock %}