{% extends 'base.html' %}
{% load shop_template_tags cart_template_tags i18n %}
{% block content %}
	<div class="flex flex-col items-center text-center p-2 sm:p-4">
		<h1 class="my-16">
			{% trans 'Change password' %}
		</h1>
		<div class="w-full max-w-lg my-auto mb-16">
			<form action="{% url 'account:change_password' %}" method="POST">
				{% csrf_token %}
				<div class="w-full mb-8">
					<div class="form-label-group mb-4">
						<input name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" type="password"
							placeholder="{{ form.password.field.widget.attrs.placeholder }}"/>
						<label class="cursor-text" for="{{ form.password.id_for_label }}">
							{{ form.password.label }}
						</label>
						<div class="text-left text-sm text-red-400 mt-1 text-left">
							{% for error in form.password.errors %}
								{{ error|escape }}<br/>
							{% endfor %}
						</div>
					</div>
					<div class="form-label-group">
						<input name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" type="password"
							placeholder="{{ form.password2.field.widget.attrs.placeholder }}"/>
						<label class="cursor-text" for="{{ form.password2.id_for_label }}">
							{{ form.password2.label }}
						</label>
						<div class="text-left text-sm text-red-400 mt-1 text-left">
							{% for error in form.password2.errors %}
								{{ error|escape }}<br/>
							{% endfor %}
						</div>
					</div>
				</div>
				<button class="button-primary-outline block w-full rounded p-3 text-lg text-center">
					{% trans 'Save' %}
				</button>
			</form>
		</div>
		<div class="w-full max-w-lg my-auto">
			<a class="button-red-outline block w-full rounded p-3 text-lg text-center"
					href="{% url 'account:menu' %}">
				{% trans 'Return to menu' %}
			</a>
		</div>
	</div>
{% endblock %}