{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags home_template_tags %}
{% block extra_css %}
	<link rel="stylesheet" href="{% static 'vendors/tagify/node_modules/@yaireo/tagify/dist/tagify.css' %}">
{% endblock %}
{% block overlay %}
	<div id="filterOverlayBackground" 
		class="cursor-pointer fixed top-0 left-0 w-full h-full bg-white bg-opacity-80 transition-opacity duration-500
			opacity-0 -z-1"
		onclick="hideFilter();">
	</div>
	<div id="filterOverlay"
		class="flex flex-row-reverse fixed overflow-y-auto h-full bg-transparent z-40 shadow cursor-pointer
			top-0 w-full sm:w-96 2xl:w-1/3 left-0 -left-full sm:-left-96 2xl:-left-1/3 transition-all duration-500"
			onclick="hideFilter();">
		<div class="w-full max-w-2xl lg:max-w-xl h-full shadow pt-4 bg-white px-2 sm:px-4 cursor-default" 
			onclick="event.stopPropagation();">
			<div class="flex justify-between">
				<h3 class="mb-0">{% trans 'Filter' %}</h1>
				<div class="flex self-center">
					<span class="cursor-pointer" onclick="hideFilter();">
						<i class="fal fa-times hoverable-gray-black text-2xl pl-4 pb-4"></i>
					</span>
				</div>
			</div>
			<div class="h-5/6 align-center flex flex-col">
				<form id="shopFilterForm" class="" action="." method="GET">
					<label class="mb-2" for="{{ filterForm.search.id_for_label }}">
						{{ filterForm.search.label }}
					</label>
					<div class="form-label-group">
						<input class="tagify-input"
							name="{{ filterForm.search.html_name }}" id="{{ filterForm.search.id_for_label }}"
							{% if filterForm.search.initial %}value="{{ filterForm.search.initial }}"{% endif %}
							placeholder="{{ filterForm.search.field.widget.attrs.placeholder }}">
					</div>
					<div class="text-sm text-red-400 mt-2 text-left">
						{% for error in filterForm.search.errors %}
							{{ error|escape }}<br/>
						{% endfor %}
					</div>
					<label class="mb-2" for="{{ filterForm.category.id_for_label }}">
						{{ filterForm.category.label }}
					</label>
					<div class="form-label-group ">
						<select name="{{ filterForm.category.html_name }}" id="{{ filterForm.category.id_for_label }}"
							{% if filterForm.category.errors %}class="error"{% endif %}>
							{% for x, y in category_filter_choices %}
								<option value="{{ x }}" 
										{% if x == filterForm.category.initial %}selected="selected"{% endif %}>
									{{ y }}
								</option>
							{% endfor %}
						</select>
						<label class="" for="{{ filterForm.category.id_for_label }}">
							{{ filterForm.category.label }}
						</label>
					</div>
					<div class="ttext-sm text-red-400 mt-1 text-left">
						{% for error in filterForm.category.errors %}
							{{ error|escape }}<br/>
						{% endfor %}
					</div>
					<div class="flex flex-row-reverse mb-2">
						<div class="cursor-pointer text-gray-400 hover:text-black transition-all py-4" onclick="resetFilter();">
							<i class="fal fa-undo"></i> {% trans 'Reset filter' %}
						</div>
					</div>
					<button class="button-primary rounded p-3 w-full" submit="true">
						{% trans 'Filter' %}
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}
	{% if page.content %}
		{% for block in page.content %}
			{% include_block block %}
		{% endfor %}
	{% else %}
		<div class="text-center">
			<h1 class="mt-20">
				{{ page.title }}
			</h1>
		</div>
	{% endif %}
	<div class="relative max-w-screen-2xl p-2 sm:p-4 m-auto mx-auto">
		<div class="inline-block cursor-pointer rounded z-0 shadow-md bg-white pl-4 pr-5 py-2 mt-1 
				border border-black hover:bg-black hover:text-white transition-all"
				onclick="showFilter();">
			<i class="fal fa-filter"></i> {% trans 'Filter' %}
		</div>
		<div id="searchTags" class="flex flex-wrap my-4">
		</div>
		{% if products %}
			<div class="mt-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
				{% for product in products %}
					<a href="{{ product.link }}">
						<div class="flex flex-col justify-between opacity-100 hover:opacity-60 transition-all text-center h-full">
							<div class="aspect-1-1 bg-center bg-cover mb-2" 
								style="background-image: url({{ product.image.file.url }});">
							</div>
							<div>
								<div class="flex justify-center mb-1">
									{{ product.title }}
								</div>
								<div class="flex justify-center">
									{% if product.on_sale %}
										<s>{{ product.get_display_price_original }}</s> 
										<span class="text-red-500 ml-1">{{ product.get_display_price }}</span>
									{% else %}
										{{ product.get_display_price }}
									{% endif %}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		{% else %}
			<div class="flex flex-col md:flex-row items-center md:items-start justify-center mt-4">
				<div class="md: mr-8 mb-8">
					<h2 class="mb-8">
						<strong>{% trans 'No products found' %}</strong>
					</h2>
					{% if filterForm.search.initial %}
						<p>
							{% trans 'There are no products matching youre search critia.' %}
							<br />
							{% trans 'Remove a few tags and try again.' %}
						</p>
					{% else %}
						<p>
							{% trans 'We havent added any products yet.' %}
							<br/>
							{% trans 'Check back later!' %}
						</p>
					{% endif %}
				</div>
				<img class="w-full h-full" src="{% static 'img/empty.svg' %}" style="max-width: 400px"/>
			</div>
		{% endif %}
		{% if products.paginator.num_pages > 1 %}
			<div class="flex flex-row justify-center items-center mt-12">
				{% if products.has_previous %}
					<a href="{% change_page request.get_full_path products.previous_page_number %}"
							class="flex w-10 h-10 button-primary-outline justify-center items-center">
						<i class="fal fa-arrow-left"></i>
					</a>
				{% endif %}
				{% for page_num in previous %}
					<a href="{% change_page request.get_full_path page_num %}"
							class="flex w-10 h-10 button-primary-outline justify-center items-center ml-2">
						{{ page_num }}
					</a>
				{% endfor %}
				<div class="flex w-10 h-10 border border-primary-400 bg-primary-400 text-primary-bg justify-center items-center 
						hover:unset cursor-default ml-2">
					{{ products.number }}
				</div>
				{% for page_num in next %}
					<a href="{% change_page request.get_full_path page_num %}" 
							class="flex w-10 h-10 button-primary-outline justify-center items-center ml-2">
						{{ page_num }}
					</a>
				{% endfor %}
				{% if products.has_next %}
					<a href="{% change_page request.get_full_path products.next_page_number %}"
							class="flex w-10 h-10 button-primary-outline justify-center items-center ml-2">
						<i class="fal fa-arrow-right"></i>
					</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
	<script>
		const filterOverlay = document.getElementById('filterOverlay');
		const filterOverlayBackground = document.getElementById('filterOverlayBackground');
		function showFilter() {
			filterOverlay.classList.remove('-left-full');
			filterOverlay.classList.remove('sm:-left-96');
			filterOverlay.classList.remove('2xl:-left-1/3');
			filterOverlayBackground.classList.remove('-z-1');
			filterOverlayBackground.classList.add('z-30');
			filterOverlayBackground.classList.add('opacity-100');
		}
		function hideFilter() {
			filterOverlay.classList.add('-left-full');
			filterOverlay.classList.add('sm:-left-96');
			filterOverlay.classList.add('2xl:-left-1/3');
			filterOverlayBackground.classList.remove('opacity-100');
			filterOverlayBackground.classList.remove('z-30');
			filterOverlayBackground.classList.add('-z-1');
		}
	</script>
{% endblock %}
{% block extra_js %}
	<script type="text/javascript" src="{% static 'vendors/tagify/tagify.min.js' %}"></script>
	<script>
		const searchTags = document.getElementById('searchTags');
		const shopFilterForm = document.getElementById('shopFilterForm');
		let initialTags = [];
		let tagify;
		fetch('{% url "shop:tagify_query" %}', {
			method: 'GET',
			headers: { 'Content-Type': 'application/json' },
		})
			.then(res => res.json())
			.then((res) => {
				let availableTags = [];
				res.products.forEach((name) => {
					availableTags.push('product: ' + name);
				})
				res.tags.forEach((name) => {
					availableTags.push('tag: ' + name);
				})
				tagify = new Tagify(
					document.getElementById('id_search'),
					{
						whitelist: availableTags
					}
				);
				let temp = tagify.value;
				for (let i = 0; i < temp.length; i++) {
					initialTags.push(temp[i]['value']);
					createSearchTag(initialTags[i], i);
				}
			});
		function resetFilter() {
			tagify.removeAllTags();
			document.getElementById('id_category').selectedIndex = 0;
		}
		function createSearchTag(text, index) {
			const tag = document.createElement('i');
			tag.classList.add('fal');
			tag.classList.add('fa-tags');
			tag.classList.add('mr-1');
			const content = document.createElement('p');
			content.classList.add('mb-0');
			content.innerText = text;
			const remove = document.createElement('i');
			remove.classList.add('fal');
			remove.classList.add('fa-times');
			remove.classList.add('ml-1');
			const container = document.createElement('div');
			container.classList.add('inline-flex');
			container.classList.add('items-center');
			container.classList.add('justify-center');
			container.appendChild(tag);
			container.appendChild(content);
			container.appendChild(remove);
			const btn = document.createElement('button');
			btn.classList.add('button-primary');
			btn.classList.add('rounded');
			btn.classList.add('px-2');
			btn.classList.add('py-1');
			btn.classList.add('mr-2');
			btn.classList.add('mb-2');
			btn.appendChild(container);
			btn.setAttribute('onclick', 'removeTag("' + text + '", ' + index +')');
			searchTags.appendChild(btn);
		}
		async function removeTag(text, index) {
			const temp = initialTags.slice(0, index).concat(initialTags.slice(index + 1, initialTags.length))
			await tagify.removeAllTags();
			await tagify.addTags(temp);
			shopFilterForm.submit();
		}
	</script>
{% endblock %}