<div class="flex flex-col md:flex-row justify-between mb-16 items-center w-full">
	<div class="flex md:hidden flex-col content-center justify-center text-center mb-4 w-full">
		<h3 class="">
			{{ self.title }}
		</h3>
		{{ self.text }}
	</div>
	<div class="md:mr-4">
		<img src="{{ self.image.file.url }}" alt="{{ self.image.file.name }}" />
	</div>
	<div class="hidden md:flex flex-col content-center justify-center text-center w-full">
		<h3 class="">
			{{ self.title }}
		</h3>
		{{ self.text }}
	</div>
</div>