{% load i18n wagtailcore_tags shop_template_tags %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
	{% for product in self.products %}
		{% get_product product.product.id as product %}
		<a href="{{ product.link }}">
			<div class="flex flex-col justify-between opacity-100 hover:opacity-60 transition-all text-center h-full">
				<div class="aspect-1-1 bg-center bg-cover mb-2" 
					style="background-image: url({{ product.image.file.url }});">
				</div>
				<div>
					<div class="flex justify-center mb-1">
						{{ product.title }}
					</div>
					<div class="flex justify-center text-grey-400">
						{% if product.on_sale %}
							<s>{{ product.get_display_price_original }}</s> 
							<span class="text-red-500 ml-1">{{ product.get_display_price }}</span>
						{% else %}
							{{ product.get_display_price }}
						{% endif %}
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
</div>